@font-face{
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face{
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body{
  font-family: 'Poppins', 'Roboto', 'Verdana';
  font-size: 16px;
  background-color: #e0e0e0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container{
  display: grid;
  width: auto;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-rows: 50px auto;
  grid-template-columns: 30px auto;
  grid-template-areas: "header header" "section section";
  transition: all .3s ease;
}

.main-container.active{
  grid-template-rows: 90px auto;
}

.main-container.oscuro{
  background-color: #292424;
}

.header{
  grid-area: header;
  padding: 0 5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: "button-nav navegacion adjust";
  background-color: #d4d4d4;
  /* background-color: #adadad88; */
}

.header.oscuro{
  background-color: #4b4848;
}

.header .button-nav{
  grid-area: button-nav;
  display: flex;
  align-items: center;
  justify-items: auto;
}

.header .button-nav .nav-button{
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 1rem;
  color: #ffffff;
  /* color: #000000; */
  border: none;
  border-radius: 100px;
  background-color: #ee788a;
  /* background-color: #e7183493; */
}

.header .button-nav .nav-button:hover{
  cursor: pointer;
  background-color: #a50319d7;
}

.header .button-nav .nav-button:active{
  cursor: pointer;
  background-color: #ee788a;
}

.header .navegacion{
  grid-area: navegacion;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;
  padding: 0 10px;  
  align-items: center;
  max-width: max-content;
  max-height: max-content;
  overflow: hidden;
}

.header .navegacion.activeText a{
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 5px 5px;
  background-color: #ee788a;
  border-radius: 4px;
  min-width: max-content;
  min-height: max-content;
  transition: all .3s ease;
}

.header .navegacion a{
  font-size: 0rem;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 5px 5px;
  background-color: #ee788a;
  border-radius: 4px;
  min-width: max-content;
  min-height: max-content;
  transition: all .3s ease;
}

.header .navegacion .nav-items:hover::after{
  font-size: 0.9rem;
  font-weight: 450;
  display: block;
  position: absolute;
  background-color: #a4a4a4;
  color: #ffffff;
  border: 2px #000000;
  border-radius: 3px;
  margin: 10px 0;
  padding: 4px;
  width: auto;
  height: auto;
  content: attr(title);
  transition: all .4s ease;
  text-transform: capitalize;
}

.header .navegacion .nav-items:hover::before{
  font-size: 0.9rem;
  font-weight: 450;
  display: block;
  position: absolute;
  background-color: #a4a4a4;
  color: #ffffff;
  border: 2px #000000;
  border-radius: 3px;
  margin: 10px 0;
  padding: 4px;
  width: auto;
  height: auto;
  content: attr("");
  transition: all .4s ease;
  text-transform: capitalize;
}

.header .navegacion a i{
  font-size: 1.3rem;
  padding: 0 6px;
  color: #ffffff;
}

.header .navegacion a:hover{
  cursor: pointer;
  background-color: #a50319d7;
  box-shadow: 0 3px #be142bd0;
}

.header .navegacion a:active{
  background-color: #ee788a;
}

.header .adjust{
  grid-area: adjust;
  display: flex;
  align-items: center;
  justify-items: auto;
}

.header .adjust .button-adjust{
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #ee788a;
  border: none;
  border-radius: 100px;
}

.header .adjust .button-adjust:hover{
  cursor: pointer;
  background-color: #a50319d7;
}

.header .adjust .button-adjust:active{
  cursor: pointer;
  background-color: #ee788a;
}

.header .adjust .button-adjust:hover::before {
  font-size: 0.9rem;
  font-weight: 450;
  display: inline;
  position: absolute;
  text-align: start;
  background-color: #a4a4a4;
  color: #ffffff;
  border: 2px #000000;
  border-radius: 3px;
  margin: -3px 0px auto -120px;
  padding: 4px;
  content: attr("");
  transition: all .4s ease;
  text-transform: capitalize;
}

.header .adjust .button-adjust:hover::after{
  font-size: 0.9rem;
  font-weight: 450;
  display: inline;
  position: absolute;
  text-align: start;
  background-color: #a4a4a4;
  color: #ffffff;
  border: 2px #000000;
  border-radius: 3px;
  margin: -3px 0px auto -120px;
  padding: 4px;
  content: attr(title);
  transition: all .4s ease;
  text-transform: capitalize;
}

.section{
  grid-area: section;
}

section{
  position: relative;
  text-align: center;
}

.contenedor-formulario table{
  display: inline-block;
  position: relative;
  text-align: justify;
  border: 2px solid rgba(248, 6, 6, 0.836);
  font-size: 1rem;
  width: auto;
  border-radius: 5px;
  margin: 2% 5%;
  padding: 15px 20px 15px 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.contenedor-formulario table:hover{
  box-shadow: 0px 2px 8px rgba(18, 18, 19, 0.384);
}

.contenedor-formulario table tr th{
  padding: 6px ;
  margin: 0px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}

.contenedor-formulario table tr td{
  border-top: 2px solid rgba(62, 63, 65, 0.5);
  padding: 8px 10px;
  margin: 0px;
}

.contenedor-formulario table tr .precio{
  text-align: end;
}

.contenedor-formulario table tr td .formEliminar{
  display: inline-block;
  position: relative;
  font-size: 1em;
  border: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}

.contenedor-formulario table tr td .formEliminar .divEliminar{
  display: inline-block;
  position: relative;
  font-family: 'Poppins', 'Roboto', 'Verdana';
  text-decoration: none;
  padding: 0px;
}

.contenedor-formulario table tr td .formEliminar .divEliminar .inputEliminar{
  display: inline-block;
  position: relative;
  background-color: rgba(251, 252, 255, 0);
  border: none;
  box-shadow: none;
  min-width: max-content;
  font-size: 1em;
  color: #000000;
  border-radius: 5px;
  background-color: rgba(248, 6, 6, 0.836);
  padding: 6px;
  margin: 0px;
}

.contenedor-formulario table tr td .formEliminar .divEliminar .inputEliminar:hover{
  cursor: pointer;
  content: attr(title);
  transition: all .4s ease;
}

.contenedor-formulario table tr td .formEliminar .divEliminar i{
  display: inline-block;
  background-color: rgba(251, 252, 255, 0);
  border: none;
  box-shadow: none;
  font-size: 1em;
  color: #000000;
  padding: 4px;
  margin: 0px;
  color: rgb(0, 0, 0);
}

.contenedor-formulario table tr td a{
  font-family: 'Poppins', 'Roboto', 'Verdana';
  text-decoration: none;
  padding: 6px;
}

.contenedor-formulario table tr td a i{
  color: rgb(0, 0, 0);
  padding: 4px;
}

.contenedor-formulario table tr td .editar{
  background-color: rgba(69, 196, 52, 0.836);
  border-radius: 5px;
}

.contenedor-formulario table tr td .editar:hover{
  background-color: rgb(69, 196, 52);
  cursor: pointer;
  content: attr(title);
  transition: all .4s ease;
}

.contenedor-formulario .gridFichas{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px;
}

.contenedor-formulario .gridFichas .fichas{
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.89);
}

.contenedor-formulario .gridFichas .fichas:hover{
  box-shadow: 0px 25px 25px rgba(18, 18, 19, 0.384);;
}

.contenedor-formulario .gridFichas .fichas .imagen{
  margin: 0px;
  border-bottom: 1px solid rgb(167, 164, 164);
}

.contenedor-formulario .gridFichas .fichas .imagen .img{
  justify-content: center;
  align-content: center;
  padding: 12% 1px;
}

.contenedor-formulario .gridFichas .fichas .info{
  /* display: grid;
  grid-template-rows: auto auto auto; */
  display: flex;
  position: relative;
  flex-flow: wrap;
  margin: 10px;
  justify-content: center;
}

.contenedor-formulario .gridFichas .fichas .info .nombreProducto{
  text-align: justify;
}

.contenedor-formulario .gridFichas .fichas .info .precioProducto{
  text-align: end;
}

.contenedor-formulario .gridFichas .fichas .info .acciones{
  display: inline-block;
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
} 

.contenedor-formulario .gridFichas .fichas .info .acciones .editar{
  display: inline-block;
  position: relative;
  margin: 0px;
  background-color: rgba(69, 196, 52, 0.836);
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff; 
  border: 1px solid rgba(69, 196, 52, 0.836);
  padding: 6px;
} 

.contenedor-formulario .gridFichas .fichas .info .acciones .editar:hover{
  cursor: pointer;
  content: attr(title);
  transition: all .4s ease;
}

.contenedor-formulario .gridFichas .fichas .info .acciones .formEliminar{
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  text-align: center;
  box-shadow: none;
} 

.contenedor-formulario .gridFichas .fichas .info .acciones .formEliminar .divEliminar{
  margin: 0px;
  padding: 0px;
}

.contenedor-formulario .gridFichas .fichas .info .acciones .formEliminar .divEliminar .inputEliminar{
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 9px;
  margin: 0px;
  background-color: rgb(255, 0, 0);
  width: 30px;
  height: 30px;
}

.contenedor-formulario .gridFichas .fichas .info .acciones .formEliminar .divEliminar .inputEliminar i{
  text-decoration: none;
  color: #ffffff;
}

form{
  display: inline-block;
  position: relative;
  font-size: 20px;
  border-radius: 5px;
  text-align: justify;
  width: auto;
  /* border: 2px solid rgb(0, 47, 255); */
  border: 2px solid rgba(248, 6, 6, 0.836);
  margin: 2% 5%;
  padding: 15px 20px 15px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 5px rgba(18, 18, 19, 0.384);
}

label{
  font-size: 1.2rem;
  display: flex;
  width: 100%;
  padding: 5px;
}

h2{
  text-align: center;
  font-size: 1.2em;
  margin-top: 18px;
  width: 100%;
}

input, select{
  margin-bottom: 20px;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(146, 145, 145);
  border-radius: 5px;
}

input:focus{
  border: 2px solid rgb(16, 78, 248);
  border-radius: 5px;
}

input[type="submit"]{
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  /* background-color: rgb(0, 47, 255); */
  background-color: rgba(248, 6, 6, 0.836);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
.contenedor-formulario .formulario .input-group .submitEditarProducto{
  background-color: rgba(69, 196, 52, 0.836);
}

input[type="submit"]:hover{
  box-shadow: 0px 3px #928f8fa1;
  cursor: pointer;
}

select:hover{
  cursor: pointer;
}

.main-container .section .contenedorImagen{
  display: inline-block;
  width: 100%;
  max-width: 100%;
  max-height: 400px;
}

.main-container .section .contenedorImagen .imagen{
  display: inline-block;
  width: 80%;
  max-width: 100%;
  max-height: 400px;
}

@media screen and (max-width: 450px){
  .main-container{
    grid-template-rows: 30px auto;
    grid-template-columns: 60px auto;
    grid-template-areas: "header section" "header section";
    transition: all .3s ease;
  }

  .main-container.active{
    grid-template-columns: 150px auto;
  }

  .header{
    grid-area: header;
    padding: 0 4px;
    display: grid;
    grid-gap: 2px;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr;
    justify-items: center;
    align-content: space-between;
    grid-template-areas: "button-nav button-nav" "adjust adjust" "navegacion navegacion";
    background-color: #d4d4d4;
  }

  .header .button-nav{
    display: grid;
    justify-self: center;
  }

  .header .adjust{
    justify-self: center;
  }

  .header .navegacion{
    grid-area: navegacion;
    display: grid;
    align-self: start;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 8px;
    padding: 0 2px;  
    justify-items: center;
    align-content: center;
    min-width: 60px;
    max-width: max-content;
    max-height: max-content;
    overflow: hidden;
  }

  .header .adjust.activeText{
    /* display: flex; */
    justify-self: start;
    margin-left: 12px;
  }

  .header .button-nav.activeText{
    /* display: flex; */
    justify-self: start;
    margin-left: 12px;
  }

  .header .navegacion.activeText a{
    justify-items: start;
    min-width: 140px;
    font-size: 0.8rem;
  }

  .header .button-nav button{
    justify-items: start;
    font-size: 0.8rem;
  }
 
  .header .adjust button{
    justify-items: start;
    font-size: 0.8rem;
  }

  .header .navegacion .nav-items{
    width: 30px;
  }

  
  .header .navegacion a i{
    font-size: 0.9rem;
  }

  .header .adjust .button-adjust:hover::before {
    margin: -3px 0px auto 10px;
  }
  
  .header .adjust .button-adjust:hover::after{
    margin: -3px 0px auto 10px;
  }

  .main-container .section .contenedor-formulario table{
    font-size: 0.6rem;
  }
  
  .main-container .section .contenedor-formulario table tr td{
    padding: 3px;
  }

  .main-container .section .contenedor-formulario table tr td .divEliminar .inputEliminar{
    padding: 5px;
  }

  .contenedor-formulario .gridFichas{
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 10px;
    row-gap: 25px;
  }
  
  .contenedor-formulario .gridFichas .fichas:hover{
    box-shadow: 0px 2px 5px rgba(18, 18, 19, 0.384);
  }

}
